{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": [">0.25% in JP", "not ie <= 10", "not op_mini all"],
        // targets: {
        //   chrome: "58"
        // },
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-typescript"
  ]
}
